server.port: 5601
server.host: "0.0.0.0"
elasticsearch.hosts: ["http://localhost:9200"]
# elasticsearch.username: "elastic"
# elasticsearch.password: "{{ elastic_password }}"
elasticsearch.serviceAccountToken: "{{ service_token }}"

# xpack.security.encryptionKey: "your_security_encryption_key_here"
# xpack.encryptedSavedObjects.encryptionKey: "your_encryption_key_here"
# xpack.reporting.encryptionKey: "your_reporting_encryption_key_here"
