---
- name: stop services
  systemd:
    name: "{{ item }}"
    state: stopped
  ignore_errors: true
  loop: "{{ exporter_services_full }}"

- name: create dirs
  file:
    path: "{{ exporter_path }}"
    state: directory
    mode: '0755'

- name: copy files to host
  copy:
    src: "files/{{ item }}"
    dest: "{{ exporter_path }}/{{ item }}"
    mode: '0755'
  loop: "{{ exporter_files }}"

- name: install filebeat
  yum:
    name: "{{ exporter_path }}/filebeat-{{elk_version}}-x86_64.rpm"
    state: present

- name: provide filebeat config
  copy:
    src: "files/filebeat.yml"
    dest: "/etc/filebeat/filebeat.yml"
    mode: '0644'

- name: provide services
  template:
    src: "templates/{{ item }}.service.j2"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: '0644'
  loop: "{{ exporter_services }}"

- name: reload daemons
  systemd:
    daemon_reload: yes

- name: setup filebeat
  command: '{{ item }}'
  ignore_errors: true
  loop: "{{ startup_filebeat }}"

- name: start exporters
  systemd:
    name: "{{ item }}"
    state: started
  ignore_errors: true
  loop: "{{ exporter_services_full }}"