[Unit]
Description=VictoriaMetrics
After=network.target

[Service]
User={{victoria_user}}
Group={{victoria_user}}
ExecStart={{victoria_path}}/victoria-metrics-prod -storageDataPath={{victoria_path}}/victoria-metrics-data

[Install]
WantedBy=multi-user.target
