[Unit]
Description=vmagent service
After=network.target

[Service]
# User={{victoria_user}}
# Group={{victoria_user}}
ExecStart={{victoria_path}}/vmagent-prod \
        -promscrape.config={{victoria_path}}/vmagent.yaml \
        -remoteWrite.url=http://192.168.1.99:8428/api/v1/write
        -promscrape.config.strictParse=false

Restart=always

[Install]
WantedBy=multi-user.targetExactement