---
- name: copy files to host
  copy:
    src: "files/{{ item }}"
    dest: "/tmp/{{ item }}"
    mode: '0755'
  loop: "{{ elk_files }}"

- name: install rpm's
  yum:
    name: "/tmp/{{ item }}"
    state: present
  loop: "{{ elk_files }}"

- name: copy config
  template:
    src: "templates/{{ item }}.yml.j2"
    dest: "/etc/{{ item }}/{{ item }}.yml"
  loop: "{{ elk_services }}"

- name: configure logstash
  template:
    src: "templates/{{ item }}.conf.j2"
    dest: "/etc/logstash/conf.d/{{ item }}.conf"
  loop: "{{ logstash_configs }}"

- name: start services
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop: "{{ elk_services }}"