unauthorized_user:
  url_map:
  - src_paths:
    - /targets
    - /static.+
    - /service-discovery
    - /target-relabel-debug
    url_prefix:
    - http://node1:8429
    - http://node2:8429
  - src_paths:
    - /api/v1/write
    url_prefix:
    - http://node1:8480/insert/1/prometheus
    - http://node2:8480/insert/1/prometheus
  - src_paths:
    - /api/v1/series
    - /api/v1/query
    - /api/v1/query_range
    - /api/v1/label/[^/]+/values
    url_prefix:
    - http://node1:8481/select/1/prometheus
    - http://node2:8481/select/1/prometheus
  - src_paths:
    - "/vmui.+"
    - "/prometheus.+"
    url_prefix:
    - http://node1:8481/select/1
    - http://node2:8481/select/1
