[Unit]
Description=vminsert service
After=network.target

[Service]
User={{victoria_user}}
Group={{victoria_user}}
ExecStart={{victoria_path}}/vminsert-prod -storageNode=node1:8400,node2:8400 \
        -httpListenAddr={{ansible_host}}:8480
        
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target