[Unit]
Description=vminsert service
After=network.target

[Service]
User={{victoria_user}}
Group={{victoria_user}}
ExecStart={{victoria_path}}/vminsert-prod -storageNode=192.168.1.10:8400,192.168.1.11:8400 \
        -httpListenAddr={{ansible_host}}:8480
        
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target