[Unit]
Description=vmselect service
After=network.target

[Service]
User={{victoria_user}}
Group={{victoria_user}}
ExecStart={{victoria_path}}/vmselect-prod -storageNode=node1:8401,node2:8401 \
        -httpListenAddr={{ansible_host}}:8481
        
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target