apiVersion: 1
providers:
- name: 'system'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 10 
  options:
    path: {{default_path}}/system.json

- name: 'node_exporter_full'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 10 
  options:
    path: {{default_path}}/node_exporter_full.json  
