datasources:
-  access: 'proxy'
   editable: true 
   is_default: true
   name: 'Victoria Metrics'
   org_id: 1 
   type: 'prometheus' 
   url: '{{grafana_server_url}}:{{datasource_port}}'
   version: 1
